.navbar-container {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 2rem;
  z-index: 5;
  height: 56px;
  box-shadow: var(--card-box-shadow);
  background-color: var(--main-light-color);
  background-color: white;
}

.navbar-left {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--main-color);
  cursor: pointer;
  user-select: none;
}

.navbar-right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.navbar-signup-btn {
  background-color: var(--main-color);
  color: var(--main-light-color);
  padding: 7.5px 12px;
  border-radius: 10px;
}

.show-modal {
  position: absolute;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
}

.show-modal > div {
  color: white;
}

.close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 5px;
}

.navbar-parent-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.navbar-parent-link p,
.navbar-parent-link img {
  user-select: none;
}

.navbar-parent-username {
  text-transform: capitalize;
}

.navbar-parent-profile-pic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.navbar-dropdown {
  position: absolute;
  top: 56px;
  right: 2rem;
  margin: 0;
  z-index: 100;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 2px solid var(--main-dark-color);
  box-shadow: var(--card-box-shadow);
  background-color: var(--main-light-color);
  border-radius: 0 0 6px 6px;
}

.navbar-dropdown li {
  width: 100%;
  margin: 0.25rem 0;
}

.navbar-dropdown li a {
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  transition: 0.5s all linear;
}

.navbar-dropdown li a:hover {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 0 10px;
  transition: 0.5s all linear;
}
