.login-container {
  background-color: var(--main-light-color);
  height: auto;
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.login-container h1 {
  color: var(--main-dark-color);
  margin-bottom: 4rem;
}

.login-container .login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.login-container .login-form input {
  border: 1px solid var(--secondary-dark-color);
  padding: 14px 16px;
  border-radius: 6px;
  width: 100%;
  font-size: 17px;
  outline: none;
}

.login-container .login-form button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-light-color);
  background-color: var(--main-color);
  padding: 14px 16px;
  border-radius: 6px;
  width: 107.5%;
  font-size: 17px;
  margin: 2rem 0;
  outline: none;
  cursor: pointer;
  letter-spacing: 3px;
}

.forgot-password-pharagraph {
  color: var(--secondary-dark-color);
  font-size: 0.8rem;
}

.forgot-password-pharagraph a {
  color: var(--main-color);
  font-weight: bold;
}
