@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --main-color: #ff0000;
  --main-dark-color: #333;
  --secondary-dark-color: rgb(80, 80, 80);
  --light-gray: rgb(151, 151, 151);
  --transparent-red: rgba(255, 0, 0, 0.021);
  --main-light-color: rgb(255, 255, 255);
  --card-box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-dark-color);
  font-family: "Roboto", sans-serif;
  position: relative;
}

ul {
  list-style: none;
}

ul li,
input::placeholder,
button {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

ul li {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  user-select: none;
  text-decoration: none;
  color: var(--main-dark-color);
}

.show-error {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: rgba(250, 35, 35, 0.26);
  border-radius: 6px;
  color: var(--main-color);
}

/* Default dashoard styles */

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: calc(100vh - 56px);
}

.dashboard-sidebar-container {
  flex: 1;
}

.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 56px - 4rem);
  padding: 0 0 2rem 0;
  margin: 0 2rem;
  gap: 2rem;
  flex: 7;
  overflow-x: hidden;
}

@media screen and (max-width: 1250px) {
  .dashboard-container {
    margin: 0;
  }
}
